<h1>Benson Han</h1>
<p>Hello world!<p>
<p>I&#39;m a junior studying computer science at UCLA.</p>
<p>I've worked at...</p>
<p>Intel as a software design intern,</p>
<p>UCLA as a digital projects assistant</p>
<p>Tech4Kids as a TA for a Python/Advanced Data Structures course.</p>
<p>I like to play soccer, watch movies, and build cool projects in my free time.</p> 

